@font-face {
  font-family: "Figtree";
  src: url("../font/Figtree/static/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../font/Figtree/static/Figtree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../font/Figtree/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../font/Figtree/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("../font/Figtree/static/Figtree-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../font/Figtree/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--color-15);
}

:root {
  --figtree: "Figtree", sans-serif;
  --color-1: #ffffff;
  --color-2: #211a16;
  --color-3: #707070;
  --color-4: #ffff00;
  --color-5: #0000000d;
  --color-6: #000000;
  --color-7: #ffcc00;
  --color-8: #ffff0000;
  --color-9: #00000033;
  --color-10: #1358e1;
  --color-11: #3585ca;
  --color-12: #69b0ec;
  --color-13: #231f20;
  --color-14: #c3bfbd;
  --color-15: #cfcfcf;
  --color-16: #ffffff00;
  --color-17: #1b6515;
  --color-18: #d53636;
  --color-19: #eeeeee;
  --color-20: #343434;
  --color-21: #fdfdfd;
  --color-22: #fdfdfd00;
  --color-23: #211a1600;
  --color-24: #f23737;
  --color-25: #8b1414;
  --color-26: #0000001a;
  --color-27: #76d3e3;
  --color-28: #e1e1e1;
  --color-29: #a60d0d;
}

/* GERAL */

h2 {
  font-family: var(--figtree);
  font-size: 2.4em;
  font-weight: 600;
  color: var(--color-2);
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 18px;
}
h3 {
  font-family: var(--figtree);
  font-size: 1.6em;
  font-weight: 600;
  color: var(--color-2);
  letter-spacing: 0;
  line-height: 20px;
}
/* GERAL CLASS */
.timeInformation {
  font-family: var(--figtree);
  font-size: 1.2em;
  font-weight: 400;
  color: var(--color-3);
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 18px;
}

.titleNewsP {
  margin: 0;
  font-family: var(--figtree);
  font-size: 3.2em;
  font-weight: 700;
  color: var(--color-2);
  letter-spacing: 0;
  line-height: 38px;
}

/* PAGE CONTAINER */
.pageContainer {
  width: 375px;
  height: 100%;
  background-color: var(--color-1);
}

/* HEADER */
.header {
  width: 375px;
  height: 100px;
  background-color: var(--color-4);
  border-radius: 0px 0px 10px 10px;
  position: relative;
}
.containerLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 15px;
}
.menuHeaderLogo {
  display: flex;
  align-items: center;
}
.notificacoes {
  margin-right: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.busca {
  margin-right: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menuIcon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* MAIN */

.containerMain {
  width: 375px;
  margin-top: -10px;
  margin-bottom: 32px;
}
.photoMain {
  border-radius: 0px 0px 10px 10px;
}
.mainCo {
  margin: 0 15px;
}

.secondaryHeadlineMenu {
  display: flex;
  align-items: center;
}
.secondaryHeadlineMenu .salvar > p,
.secondaryHeadlineMenu .comentar > p,
.secondaryHeadlineMenu .compartilhar > p,
.secondaryHeadlineMenu .queroParticipar > p {
  font-family: var(--figtree);
  font-size: 1.2em;
  font-weight: 500;
  color: var(--color-2);
  letter-spacing: 0;
  line-height: 14px;
  margin-right: 20px;
}

.salvar {
  display: flex;
  align-items: center;
}
.salvar > svg {
  margin-right: 10px;
}

.comentar {
  display: flex;
  align-items: center;
}
.comentar > svg {
  margin-right: 10px;
}

.compartilhar {
  display: flex;
  align-items: center;
}
.compartilhar > svg {
  margin-right: 10px;
}

.queroParticipar {
  display: flex;
  align-items: center;
}
.queroParticipar > svg {
  margin-right: 10px;
}

/* PLUS NEWS */
.plusNews {
  position: relative;
  margin-top: 24px;
}
.plusC1,
.plusC2 {
  margin-bottom: 24px;
}
.plusC1 > h3,
.plusC2 > h3,
.plusC3 > h3 {
  margin-left: 14px;
}
.plusC1 .timeInformation,
.plusC2 .timeInformation,
.plusC3 .timeInformation {
  margin: 8px 0px 12px 14px;
}

.plusBorder {
  position: absolute;
  border: none;
  background-color: var(--color-4);
  width: 4px;
  height: 30px;
  border-radius: 3px;
}
.plusCo1Menu {
  display: flex;
  margin-left: 14px;
}
.plusCoSalvar {
  margin-right: 14px;
}
.plusCoComentar {
  margin-right: 14px;
}

/* BARRA FIX /BARFIX */
.barFix {
  position: fixed;
  bottom: 0;
  width: 375px;
  height: 112px;
  box-shadow: 0 -5px 10px var(--color-26);
  background-color: var(--color-1);
  border-radius: 8px 8px 0px 0px;
  z-index: 5;
}
.barFixCo1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 112px;
  padding: 16px 25px 0px 25px;
}
.iconBarFix {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-19);
  border-radius: 10px;
  transition: 0.5s;
}

.barFixName {
  margin-top: 4px;
  font-family: var(--figtree);
  font-size: 1.2em;
  font-weight: 500;
  color: var(--color-6);
  letter-spacing: 0;
  line-height: 14px;
  transition: 0.5s;
}
.tabBarFix {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.home,
.promocoes,
.midia,
.digital,
.conta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.5s;
}

.home:hover {
  .iconBarFix {
    background-color: var(--color-4);
    transition: 0.5s;
  }
  .barFixName {
    font-weight: bold;
    transition: 0.5s;
  }
}
.promocoes:hover {
  .iconBarFix {
    background-color: var(--color-4);
    transition: 0.5s;
  }
  .barFixName {
    font-weight: bold;
    transition: 0.5s;
  }
}
.midia:hover {
  .iconBarFix {
    background-color: var(--color-4);
  }
  .barFixName {
    font-weight: bold;
  }
}
.digital:hover {
  .iconBarFix {
    background-color: var(--color-4);
  }
  .barFixName {
    font-weight: bold;
  }
}
.conta:hover {
  .iconBarFix {
    background-color: var(--color-4);
  }
  .barFixName {
    font-weight: bold;
  }
}

/* PROMOÇÕES */
.openPromotions {
  margin: 0 15px;
}
.promocoesTituloImage {
  width: 345px;
  height: 274px;
  background-color: var(--color-4);
  border-radius: 10px;
  position: relative;
}
.promocoesTitulo {
  display: flex;
  align-items: center;
  margin-left: 14px;
}
.proPodVid {
  font-family: var(--figtree);
  font-size: 2.2em;
  font-weight: bold;
  color: var(--color-2);
  letter-spacing: 0;
  line-height: 28px;
  margin: 0;
  margin: 11px 0px 11px 10px;
}
.state {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 54px;
  height: 20px;
  background-color: var(--color-4);
  border-radius: 10px;
}
.state > p {
  font-family: var(--figtree);
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-2);
  letter-spacing: 0;
  line-height: 14px;
  text-transform: lowercase;
}
.local {
  display: flex;
  font-family: var(--figtree);
  font-size: 1.1em;
  font-weight: 400;
  color: var(--color-3);
  letter-spacing: 0;
  line-height: 13px;
  margin-bottom: 19px;
}
.local > svg {
  margin-right: 8px;
}
.proxProm {
  display: flex;
  margin: 25px auto;
  height: 16px;
  width: 60px;
  justify-content: center;
  align-items: center;

  .btnProx {
    width: 10px;
    height: 10px;
    border: 2px solid var(--color-14);
    border-radius: 50%;
    margin: 25px 0px 24px 0px;
    cursor: pointer;
    background-color: var(--color-1);
    margin-right: 8px;
  }

  .btnProx:hover {
    width: 16px;
    height: 16px;
    background-color: var(--color-4);
    border: none;
  }
}

.checkOut {
  position: relative;
  width: 345px;
  height: 152px;
  background-image: linear-gradient(to right, var(--color-7), var(--color-4));
  border-radius: 10px;
  padding: 18px 18px;
}
.checkOutText {
  display: flex;
  justify-content: space-between;
  .checkPromoText {
    font-family: var(--figtree);
    font-size: 1.8em;
    font-weight: 600;
    color: var(--color-2);
    letter-spacing: 0;
    line-height: 22px;
  }
}
.btnAccess {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-2);
  width: 107px;
  height: 36px;
  border-radius: 10px;
  background-color: transparent;

  .iconSeta {
    margin-left: 10px;
  }
}

/* PREVISÃO */
.previsao {
  display: flex;
  flex-direction: column;
  margin: 32px 15px;
  width: 345px;
  height: 142px;
  border-radius: 10px;
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--color-10),
    var(--color-11),
    var(--color-12)
  );
  padding: 18px 0px 0px 18px;
}

.sun {
  position: absolute;
  top: 0;
  right: 0;
}
.previsaoTitle {
  font-family: var(--figtree);
  font-size: 1.4em;
  font-weight: bold;
  color: var(--color-1);
  letter-spacing: 0;
  line-height: 17px;
  margin: 0;
  margin-bottom: 4px;
}
.prevTime {
  font-family: var(--figtree);
  font-size: 1.2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 16px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;

  .timeCoPP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 148px;
    height: 62px;
    .graus {
      font-family: var(--figtree);
      font-size: 5.2em;
      font-weight: bold;
      color: var(--color-1);
      letter-spacing: 0;
      line-height: 20px;
    }
    .grausMinMax {
      font-family: var(--figtree);
      font-size: 1.6em;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
      letter-spacing: 0;
      line-height: 18px;
      text-align: left;
      .grausMax {
        font-family: var(--figtree);
        font-weight: bold;
        color: var(--color-1);
      }
    }
  }

  .grausCUV {
    font-family: var(--figtree);
    font-size: 1.2em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0;
    line-height: 16px;
    text-align: right;
    margin-right: 18px;
  }
}

/* SECONDARY HEADLINE */
.secondaryHeadline {
  margin: 0px 15px;
  margin-bottom: 32px;
}

/* TODAY EDITION */
.todaysEdition {
  display: flex;
  justify-content: space-between;
  position: relative;
  display: flex;
  margin: 0px 15px;
  margin-bottom: 32px;
  width: 345px;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 50px 50px var(--color-26);

  .todaysEditionCoText {
    position: absolute;
    bottom: 0;
    width: 345px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px var(--color-26);
    background-image: linear-gradient(
      to bottom,
      var(--color-22),
      var(--color-21)
    );
    z-index: 1;

    .todayTitle {
      margin-left: 35px;
      margin-bottom: 8px;
      font-family: var(--figtree);
      font-size: 2.4em;
      font-weight: bold;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 28px;
    }

    .todayTime {
      margin-bottom: 20px;
      margin-left: 35px;
      font-family: var(--figtree);
      font-size: 1.6em;
      font-weight: 500;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 28px;
    }

    .btnSignIt {
      position: absolute;
      bottom: 0;
      border: 1px solid var(--color-4);
      border-radius: 10px;
      background-color: transparent;
      width: 106px;
      height: 36px;
      z-index: 2;
      margin-bottom: 20px;
      margin-left: 20px;
      font-family: var(--figtree);
      font-size: 1.4em;
      font-weight: bold;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 16px;
      margin-right: 17px;
    }
  }

  .edcaoDigitalImg {
    border-radius: 6px;
    position: absolute;
    right: 0;
  }
}

/* CLASSIFIELD */
.classified {
  margin: 0 15px;
  width: 345px;
  height: 294px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background-image: linear-gradient(127deg, var(--color-4), var(--color-7));
  z-index: 1;
  margin-bottom: 32px;

  .markerSvg {
    position: absolute;
    top: 22px;
    left: 118px;
  }

  .classifiedCoText {
    .classifTitle {
      font-family: var(--figtree);
      font-size: 2.4em;
      font-weight: 800;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 28px;
      margin: 0;
      margin-top: 25px;
      margin-bottom: 12px;
      position: relative;
    }
    .classifSubTitle {
      font-family: var(--figtree);
      font-size: 1.6em;
      font-weight: 400;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 20px;
    }
  }
  .siteLink {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 24px;
    border-radius: 17px;
    background-color: var(--color-2);
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    font-family: var(--figtree);
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-1);
    letter-spacing: 0;
    line-height: 20px;
    z-index: 1;
  }

  .cursorSvg {
    position: absolute;
    right: 43px;
    bottom: 0px;
    z-index: 1;
  }

  .mockup {
    margin-top: -25px;
  }

  .classiBlur {
    width: 345px;
    height: 85px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      var(--color-8),
      var(--color-7)
    );
  }
}

/* PUBLICIDADE / ANNOUNCEMENT */
.announcement {
  position: relative;
  margin: 0 27.5px;
  display: flex;
  width: 320px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-15);
  margin-bottom: 32px;

  .announcementTitle {
    font-family: var(--figtree);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-2);
    letter-spacing: 0;
    line-height: 14px;
    margin: 0;
  }

  .announcementCoIX {
    display: flex;
    justify-content: space-between;
    width: 38px;
    height: 19px;
    position: absolute;
    top: 0;
    right: 0;
    .cI {
      background-color: var(--color-1);
      .i {
        color: var(--color-27);
      }
    }
    .cX {
      background-color: var(--color-1);
      .x {
        color: var(--color-27);
      }
    }
  }
}
/* SOCIAL MEDIA */
.socialMedia {
  width: 375px;
  height: 130px;
  padding: 0 15px;
  margin-bottom: 22px;
  position: relative;

  .socialTitle {
    margin: 0;
    font-family: var(--figtree);
    font-size: 2.4em;
    font-weight: 500;
    color: var(--color-2);
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .socialMediaC {
    display: flex;
    height: 70px;
    overflow-x: auto;
    .instagram,
    .facebook,
    .twitter,
    .youtube,
    .tiktok,
    .whatsapp,
    .telegram,
    .email {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      border: 1px solid var(--color-4);
      padding: 10px;
      .svgSpacing {
        margin: -10px 7px 0px 0px;
      }

      .media {
        width: max-content;

        .mediaTitle {
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: bold;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
        }
        .mediaSubTitle {
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 13px;
        }
      }
    }

    .socialBlur {
      position: absolute;
      right: 0;
      width: 74px;
      height: 50px;
      background-image: linear-gradient(
        to right,
        var(--color-16),
        var(--color-1)
      );
    }
  }
  .socialMediaC::-webkit-scrollbar {
    display: none;
  }
}
/* STANDARD CALLS */
.standardCalls1 {
  margin: 0 15px;
  .standardCalls11 {
    display: flex;
    width: 345px;
    height: 110px;
    margin-bottom: 32px;
    .callsCoText {
      margin-left: 15px;

      .timeInformation {
        margin: 8px 0px 12px 0px;
      }

      .callsC1Menu {
        display: flex;
        .callsCoSalvar {
          margin-right: 14px;
        }
        .callsCoComentar {
          margin-right: 14px;
        }
        .callsCoCompartilhar {
        }
      }
    }
  }

  .standardCalls12 {
    display: flex;
    width: 345px;
    height: 110px;
    margin-bottom: 32px;
    .callsCoText {
      margin-left: 15px;

      .timeInformation {
        margin: 8px 0px 12px 0px;
      }

      .callsC1Menu {
        display: flex;
        .callsCoSalvar {
          margin-right: 14px;
        }
        .callsCoComentar {
          margin-right: 14px;
        }
        .callsCoCompartilhar {
        }
      }
    }
  }
  .standardCalls13 {
    display: flex;
    width: 345px;
    height: 110px;
    margin-bottom: 32px;
    .callsCoText {
      margin-left: 15px;

      .timeInformation {
        margin: 8px 0px 12px 0px;
      }

      .callsC1Menu {
        display: flex;
        .callsCoSalvar {
          margin-right: 14px;
        }
        .callsCoComentar {
          margin-right: 14px;
        }
        .callsCoCompartilhar {
        }
      }
    }
  }
}
/* STORIES */
.stories {
  width: 375px;
  height: 181px;
  margin-bottom: 32px;
  position: relative;
  .storiesTitle {
    display: flex;
    align-items: center;
    margin: 0px 15px 13px 15px;
    .titleNewsP {
      margin: 0;
      font-family: var(--figtree);
      font-size: 3.2em;
      font-weight: 700;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 38px;
      margin-left: 10px;
    }
  }
  .storiesContainer {
    display: flex;
    height: 130px;
    width: 375px;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    padding: 0px 0px 0px 15px;
    .storiesCo1,
    .storiesCo2,
    .storiesCo3,
    .storiesCo4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 95px;
      height: 130px;
      margin: 0px 10px 0px 0px;
      .storiesImgBackground {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95px;
        height: 95px;
        border: 2px dashed var(--color-4);
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
    .storiesGradiente {
      position: absolute;
      right: 0;
      width: 74px;
      height: 130px;
      background-image: linear-gradient(
        to right,
        var(--color-16),
        var(--color-1)
      );
    }
  }
  .storiesContainer::-webkit-scrollbar {
    display: none;
  }
}
/* POLICE */
.secsAll {
  margin-bottom: 32px;
  .pTopicTags {
    margin: 0px 15px 18px 15px;
    .pTopic {
      display: flex;
      align-items: center;

      .titleNewsP {
        margin: 0px 10px 10px 0px;
      }
    }

    .pTags {
      display: flex;
      .pTagsTitle {
        font-family: var(--figtree);
        font-size: 1.2em;
        font-weight: 700;
        color: var(--color-2);
        letter-spacing: 0;
        line-height: 14px;
        text-transform: lowercase;
        padding: 3px 9px;
        margin-right: 10px;
        background-color: var(--color-4);
        border-radius: 10px;
      }
    }
  }
}
/* PODCAST */
.podcasts {
  margin: 0px 15px 29px 15px;
  .podcastsLive {
    width: 345px;
    height: 243px;
    background-color: var(--color-4);
    border-radius: 10px;
    position: relative;
    .podcastsLiveCoTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .podcastTitle {
        display: flex;
        align-items: center;
        margin-left: 17px;
        .proPodVid {
          margin-left: 12px;
          font-family: var(--figtree);
          font-size: 2.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 28px;
        }
      }

      .podcastLiveNow {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 14px;
        width: 130px;
        .podcastElipse1 {
          width: 26px;
          height: 26px;
          background-color: rgba(242, 55, 55, 0.2);
          border-radius: 50%;
          position: absolute;
          left: 0;
        }
        .podcastLiveNowTitle {
          position: absolute;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 127px;
          height: 20px;
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-1);
          background-color: var(--color-29);
          border-radius: 10px;
          letter-spacing: 0;
          line-height: 14px;
          .podcastElipse2 {
            width: 8px;
            height: 8px;
            border: 2px solid var(--color-1);
            border-radius: 50%;
            background-color: transparent;
            margin-right: 4px;
          }
        }
      }
    }

    .podcastImg {
      width: 100%;
      height: 97px;
      z-index: 1;
      .svgSomDesligado {
        position: absolute;
        bottom: 14px;
        right: 46px;
        z-index: 2;
      }
      .svgFullscreen {
        position: absolute;
        bottom: 14px;
        right: 14px;
      }
    }
  }

  .podcastsTextTitle {
    margin-top: 12px;
    .timeInformation {
      margin: 6px 0px 24px 0px;
    }
  }

  .podcastsOther {
    .podcastsOther1 {
      position: relative;
      display: flex;
      width: 345px;
      height: 100px;
      margin-bottom: 13px;

      .podcastsOtherCoText {
        margin-left: 15px;

        .timeInformation {
          margin-top: 6px;
        }

        .podcastsTime {
          background-color: var(--color-4);
          width: max-content;
          border-radius: 10px;
          padding: 3px 9px;
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
          position: absolute;
          bottom: 3px;
        }
      }
      .podcastsPlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-2);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 26.5px;
        left: 41px;
        padding-left: 3px;
      }
    }
    .podcastsOther2 {
      position: relative;
      display: flex;
      width: 345px;
      height: 100px;
      margin-bottom: 13px;

      .podcastsOtherCoText {
        margin-left: 15px;

        .timeInformation {
          margin-top: 6px;
        }

        .podcastsTime {
          background-color: var(--color-4);
          width: max-content;
          border-radius: 10px;
          padding: 3px 9px;
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
          position: absolute;
          bottom: 3px;
        }
      }
      .podcastsPlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-2);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 26.5px;
        left: 41px;
        padding-left: 3px;
      }
    }
    .podcastsOther3 {
      position: relative;
      display: flex;
      width: 345px;
      height: 100px;

      .podcastsOtherCoText {
        margin-left: 15px;

        .timeInformation {
          margin-top: 6px;
        }

        .podcastsTime {
          background-color: var(--color-4);
          width: max-content;
          border-radius: 10px;
          padding: 3px 9px;
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
          position: absolute;
          bottom: 3px;
        }
      }
      .podcastsPlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-2);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 26.5px;
        left: 41px;
        padding-left: 3px;
      }
    }
  }
}
/* LOTERIES */
.lotteries {
  width: 345px;
  height: 248px;
  margin: 0px 15px 32px 15px;
  padding: 20px;
  box-shadow: 0px 15px 20px var(--color-5);
  border-radius: 10px;

  .lotteriesCoText {
    .lotteriesTitle {
      font-family: var(--figtree);
      font-size: 1.4em;
      font-weight: 700;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 17px;
    }
    .lotteriesSelect {
      font-family: var(--figtree);
      font-size: 1.2em;
      font-weight: 400;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 17px;
    }
  }
  .lotteriesCoContest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 0px;
    margin-top: 20px;
    margin-left: -20px;

    .contestC1 {
      display: flex;
      justify-content: center;
      align-items: center;
      .lotteriesCoSvg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--color-28);
        border-radius: 50%;
        margin-right: 10px;
      }
      .contestText {
        .contestTextTitle {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
        }
        .timeLotteries {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-3);
          letter-spacing: -0.1px;
          line-height: 14px;
        }
      }
    }
    .contestC2 {
      display: flex;
      justify-content: center;
      align-items: center;
      .lotteriesCoSvg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--color-28);
        border-radius: 50%;
        margin-right: 10px;
      }
      .contestText {
        .contestTextTitle {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
        }
        .timeLotteries {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-3);
          letter-spacing: -0.1px;
          line-height: 14px;
        }
      }
    }
    .contestC3 {
      display: flex;
      justify-content: center;
      align-items: center;
      .lotteriesCoSvg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--color-28);
        border-radius: 50%;
        margin-right: 10px;
      }
      .contestText {
        .contestTextTitle {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
        }
        .timeLotteries {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-3);
          letter-spacing: -0.1px;
          line-height: 14px;
        }
      }
    }
    .contestC4 {
      display: flex;
      justify-content: center;
      align-items: center;
      .lotteriesCoSvg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--color-28);
        border-radius: 50%;
        margin-right: 10px;
      }
      .contestText {
        .contestTextTitle {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
        }
        .timeLotteries {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-3);
          letter-spacing: -0.1px;
          line-height: 14px;
        }
      }
    }
    .contestC5 {
      display: flex;
      justify-content: center;
      align-items: center;
      .lotteriesCoSvg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--color-28);
        border-radius: 50%;
        margin-right: 10px;
      }
      .contestText {
        .contestTextTitle {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
        }
        .timeLotteries {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-3);
          letter-spacing: -0.1px;
          line-height: 14px;
        }
      }
    }
    .contestC6 {
      display: flex;
      justify-content: center;
      align-items: center;
      .lotteriesCoSvg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--color-28);
        border-radius: 50%;
        margin-right: 10px;
      }
      .contestText {
        .contestTextTitle {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
        }
        .timeLotteries {
          margin: 0;
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-3);
          letter-spacing: -0.1px;
          line-height: 14px;
        }
      }
    }
  }
}
/* CAMBIO */
.exchange {
  margin: 0px 15px 32px 15px;
  padding: 20px;
  width: 345px;
  height: 142px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px var(--color-5);
  .exchangeTitle {
    margin-bottom: 32px;
    .exchangeT {
      font-family: var(--figtree);
      font-size: 1.4em;
      font-weight: 700;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 17px;
      margin-bottom: 4px;
    }
    .exchangeTeTime {
      font-family: var(--figtree);
      font-size: 1.2em;
      font-weight: 400;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 14px;
    }
  }
  .exchangeCoValues {
    display: flex;
    justify-content: space-between;

    .exchangeCoValuesDolar {
      .valueMo {
        font-family: var(--figtree);
        font-size: 1.4em;
        font-weight: 700;
        color: var(--color-2);
        letter-spacing: 0;
        line-height: 8px;
        margin-bottom: 8px;
      }
      .exchangeValueQuote {
        display: flex;
        .exchangeVa {
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 300;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 18px;
          margin-right: 8px;
        }
        .span {
          padding: 2px 6px;
          border-radius: 10px;
          background-color: var(--color-17);
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-1);
          letter-spacing: 0;
          line-height: 13px;
          text-transform: lowercase;
        }
      }
    }
    .exchangeCoValuesEuro {
      .valueMo {
        font-family: var(--figtree);
        font-size: 1.4em;
        font-weight: 700;
        color: var(--color-2);
        letter-spacing: 0;
        line-height: 8px;
        margin-bottom: 8px;
      }
      .exchangeValueQuote {
        display: flex;
        .exchangeVa {
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 300;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 18px;
          margin-right: 8px;
        }
        .span {
          padding: 2px 6px;
          border-radius: 10px;
          background-color: var(--color-18);
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-1);
          letter-spacing: 0;
          line-height: 13px;
          text-transform: lowercase;
        }
      }
    }
    .exchangeCoValuesBitcoin {
      .valueMo {
        font-family: var(--figtree);
        font-size: 1.4em;
        font-weight: 700;
        color: var(--color-2);
        letter-spacing: 0;
        line-height: 8px;
        margin-bottom: 8px;
      }
      .exchangeValueQuote {
        display: flex;
        .exchangeVa {
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 300;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 18px;
          margin-right: 8px;
        }
        .span {
          padding: 2px 6px;
          border-radius: 10px;
          background-color: var(--color-18);
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 700;
          color: var(--color-1);
          letter-spacing: 0;
          line-height: 13px;
          text-transform: lowercase;
        }
      }
    }
  }
}
/* VIDEOS */
.videos {
  margin: 0px 15px 29px 15px;
  .videosLive {
    width: 345px;
    height: 243px;
    background-color: var(--color-4);
    border-radius: 10px;
    position: relative;
    .videosLiveCoTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .videosTitle {
        display: flex;
        align-items: center;
        margin-left: 17px;
        .proPodVid {
          margin-left: 12px;
          font-family: var(--figtree);
          font-size: 2.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 28px;
        }
      }
    }

    .podcastsPlay {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-2);
      border-radius: 50%;
      width: 44px;
      height: 44px;
      position: absolute;
      top: 124px;
      left: 151px;
      padding-left: 3px;
    }

    .podcastsTime {
      background-color: var(--color-4);
      width: max-content;
      border-radius: 10px;
      padding: 3px 9px;
      font-family: var(--figtree);
      font-size: 1.2em;
      font-weight: 700;
      color: var(--color-2);
      letter-spacing: 0;
      line-height: 14px;
      position: absolute;
      bottom: 7px;
      left: 9px;
    }
  }

  .podcastsTextTitle {
    margin-top: 12px;
    .timeInformation {
      margin: 6px 0px 24px 0px;
    }
  }

  .podcastsOther {
    .podcastsOther1 {
      position: relative;
      display: flex;
      width: 345px;
      height: 100px;
      margin-bottom: 13px;

      .podcastsOtherCoText {
        margin-left: 15px;

        .timeInformation {
          margin-top: 6px;
        }

        .podcastsTime {
          background-color: var(--color-4);
          width: max-content;
          border-radius: 10px;
          padding: 3px 9px;
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
          position: absolute;
          bottom: 3px;
        }
      }
      .podcastsPlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-2);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 26.5px;
        left: 41px;
        padding-left: 3px;
      }
    }
    .podcastsOther2 {
      position: relative;
      display: flex;
      width: 345px;
      height: 100px;
      margin-bottom: 13px;

      .podcastsOtherCoText {
        margin-left: 15px;

        .timeInformation {
          margin-top: 6px;
        }

        .podcastsTime {
          background-color: var(--color-4);
          width: max-content;
          border-radius: 10px;
          padding: 3px 9px;
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
          position: absolute;
          bottom: 3px;
        }
      }
      .podcastsPlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-2);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 26.5px;
        left: 41px;
        padding-left: 3px;
      }
    }
    .podcastsOther3 {
      position: relative;
      display: flex;
      width: 345px;
      height: 100px;

      .podcastsOtherCoText {
        margin-left: 15px;

        .timeInformation {
          margin-top: 6px;
        }

        .podcastsTime {
          background-color: var(--color-4);
          width: max-content;
          border-radius: 10px;
          padding: 3px 9px;
          font-family: var(--figtree);
          font-size: 1.2em;
          font-weight: 700;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 14px;
          position: absolute;
          bottom: 3px;
        }
      }
      .podcastsPlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-2);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 26.5px;
        left: 41px;
        padding-left: 3px;
      }
    }
  }
}
/* SIGNS */
.columnsHoroscope {
  margin: 0px 15px 32px 15px;
  width: 345px;
  .columnsC {
    .columnsCoTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      .proxProm {
        margin: 0;
        margin-right: -8px;
        padding: 0;
      }
    }
    .columnsCoContent {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      .diaryTitle {
        font-family: var(--figtree);
        font-size: 1.8em;
        font-weight: 600;
        color: var(--color-2);
        letter-spacing: 0;
        line-height: 22px;
      }
      .columnsRockDiary {
        .diaryP {
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 12px;
        }
      }
      .columnsPetDiary {
        .diaryTitle {
          font-family: var(--figtree);
          font-size: 1.8em;
          font-weight: 600;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 22px;
        }
        .diaryP {
          font-family: var(--figtree);
          font-size: 1em;
          font-weight: 400;
          color: var(--color-2);
          letter-spacing: 0;
          line-height: 12px;
        }
      }
    }

    .horoscopeCoContent {
      padding: 20px;
      box-shadow: 0px 15px 20px var(--color-5);
      border-radius: 10px;
      width: 345px;
      height: 300px;
      position: relative;
      .horoscopeCoText {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .horoscopeTitle {
          .horoscopePTitle {
            font-family: var(--figtree);
            font-size: 1.4em;
            font-weight: bold;
            color: var(--color-2);
            letter-spacing: 0;
            line-height: 17px;
            margin-bottom: 4px;
          }
          .horoscopePSubTitle {
            font-family: var(--figtree);
            font-size: 1.2em;
            font-weight: 400;
            color: var(--color-2);
            letter-spacing: 0;
            line-height: 14px;
          }
        }
        .logoPersonare {
          display: flex;
          align-items: center;
          .logoPersonareP {
            font-family: var(--figtree);
            font-size: 1em;
            font-weight: 400;
            color: var(--color-2);
            letter-spacing: 0;
            line-height: 14px;
            margin-right: 8px;
          }
        }
      }

      .horoscopeSigns {
        display: flex;
        align-items: center;
        margin-top: 18px;
        width: 320px;
        overflow-y: auto;
        .taurus,
        .gemini,
        .cancer,
        .leo,
        .sagittarius,
        .virgo,
        .libra,
        .scorpio,
        .capricorn,
        .aquario,
        .pisces,
        .aries {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 0px 14px 20px 0px;
          cursor: pointer;
          height: 64px;
          .horoscopeSign {
            width: 44px;
            height: 44px;
            border: none;
            border-radius: 10px;
            background-color: var(--color-19);
            margin-bottom: 6px;
            cursor: pointer;
            .SvgHoroscope {
              fill: var(--color-6);
            }
          }
          .pSign {
            font-family: var(--figtree);
            font-size: 1.2em;
            font-weight: 500;
            color: var(--color-6);
            letter-spacing: 0;
            line-height: 14px;
          }
        }
        .aries:hover,
        .taurus:hover,
        .gemini:hover,
        .cancer:hover,
        .leo:hover,
        .sagittarius:hover,
        .virgo:hover,
        .libra:hover,
        .scorpio:hover,
        .capricorn:hover,
        .aquario:hover,
        .pisces:hover {
          .horoscopeSign {
            background-color: var(--color-2);
            .SvgHoroscope {
              fill: var(--color-1);
            }
          }
          .pSign {
            font-weight: 700;
            letter-spacing: 0;
            line-height: 14px;
            color: var(--color-6);
          }
        }
      }
      .horoscopeSigns::-webkit-scrollbar {
        display: none;
      }
      .horoscopeDegrade {
        width: 74px;
        height: 66px;
        background-image: linear-gradient(
          to right,
          var(--color-16),
          var(--color-1)
        );
        position: absolute;
        right: 0;
        top: 72px;
      }
      .sobreHoroscope {
        font-family: var(--figtree);
        font-size: 1.4em;
        font-weight: 400;
        color: var(--color-2);
        letter-spacing: 0;
        line-height: 18px;
      }
    }
  }
}
.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 36px;
  border-radius: 10px;
  background-color: var(--color-4);
  border: none;
  margin: 0 auto 140px auto;
  font-family: var(--figtree);
  font-size: 1.4em;
  font-weight: 700;
  color: var(--color-2);
  letter-spacing: 0;
  line-height: 17px;
  .vsgMore {
    margin-right: 10px;
  }
}
